:root {
--box-shadow: 8px 4px 1px rgba(199,199,1);
}

body {
font-family: 'Rubik', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.app h1 {
text-align: center;
}

h2 {
text-transform: uppercase;
}

.balance-container #balance {
font-size: 1.5em;
}

.cashflow-containter {
display: flex;  
box-shadow: var(--box-shadow);    
align-items: center; 
justify-content: center;     
}